<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogisticService.Properties.Settings.PersonDataDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=PersonDataDb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="LogisticService.Properties.Settings.CarsDbConnectionString"
            connectionString="Data Source=.;Initial Catalog=CarsDb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>